.container {
    border: 4px solid red;
    height: 70vh;
    width: 97vw;
    display: flex;
    flex-direction: row;
  }
  
  .box {
    color: white;
    font-weight: 800;
    height: auto;
    flex-basis: 100px;
  }
  
  .box > p {
    text-align: center;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .indigo {
    background-color: indigo;
  }
  .violet {
    background-color: violet;
  }
  
  .controls {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .controls > div {
    border: 2px solid red;
  }
  
  .fcontainer-item-properties {
      width: 34%;
  }
  
  .fcontainer-properties {
    width: 40%;
  }
  
  .flex-property-desc {
    width: 26%;
  }
  
  .fcontainer-properties,
  .fcontainer-item-properties {
    color: seagreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: space-between;
    position: relative;
  }
  
  .fcontainer-properties > h2,
  .fcontainer-item-properties > h2 {
    font-size: 1.3rem;
    position: absolute;
    top: -46px;
    left: 20%;
    order: 2;
  }
  
  .fcontainer-properties > div,
  .fcontainer-item-properties > div {
    padding: 10px 10px;
    min-height: 20px;
  }
  
  .fcontainer-properties > div label,
  .fcontainer-item-properties > div label {
    font-weight: 800;
  }
  
  .flex-property-desc > p {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 10px;
  }
  
  #fprop-desc {
    font-style: italic;
    font-size: 1rem;
    background-color: gold;
  }
  
  #container-width-input {
    max-width: 95px;
  }
  
  .notes {
    margin-top: 40px;
    min-height: 200px;
    border: 2px solid green;
  }
  
  .notes > div {
    margin-left: 15px;
  }
  
  .notes > h2 {
    margin: 10px 0px 10px 10px;
  }
  
  .propTitle {
    font-weight: 700;
    text-decoration: underline;
    font-size: 1.1rem;
  }
  
  .notes-box * {
    margin: 5px;
  }
  
  .notes-box {
    border-left: 5px solid blue;
    border-bottom: 1px solid #0000aa;
    margin-bottom: 8px;
    width: 98%;
  }
  
  .fp-keynotes > div {
    margin-top: 10px;
  }
  
  .word-highlight {
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
  }
  
  .flex-cp-note {
    margin: 0px 0px 5px 10px;
    border-left: 10px solid goldenrod;
    font-style: italic;
    /* font-weight: 600; */
    color: black;
  }
  